/* Base */
$black-darker: #222;
$black-dark: #333;
$black: #666;
$black-light: #999;
$black-light-mid: #aaaaaa;
$black-lighter: #ccc;
$black-lightest: #f9f9f9;

$white: #fff;
$white-light: rgba(#fff, 0.87);
$white-lighter: rgba(#fff, 0.56);

$red: #e42828;
$red-light: #fa7377;
$red-dark: #cc0022;

$blue: #4d8efa;
$blue-light: #dbe8fe;
$blue-dark: #1669ba;

$yellow: #ff6600;
$yellow-light: #ffe9a7;
$yellow-dark: #e48668;

$purple: #af32bc;
$purple-light: #af32bc;
$purple-dark: #af32bc;

$green: #3dbd7d;
$green-gray: #c5e3ec;
$green-light: #77a74c;
$green-dark: #008236;

/* custom */
$main-light: #269ade;
$main: #2d75ee;
$main-darker: #2555bf;

$font-darker: #111;
$font-dark: #222;
$font: #333;
$font-light: #666;
$font-lighter: #999;
$font-lightest: #ccc;

$border-dark: #d1d3df;
$border: #e0e0e0;
$border-light: #f0f0f0;

$bg-dark: #e4e9f2;
$bg: #eff2f8;
$bg-light: #fcfcfc;

$shadow: rgba(#080e2a, 0.15);

$disabled: #f2f3f8;
