// color
$input-border: $border;
$input-bg: #fff;
$input-disabled: #f2f3f8;
$input-label: $font-light;
$placeholder: $font-lightest;

// size
$input-item-width: size(360);
$input-item-height: size(40);
